.list {
    padding: 20px;
    height: 100%;
    overflow: scroll;
  }
  
  .no-review-error {
    color: red;
    display: inline-block;
    background: #fff;
    margin-top: 70px;
    width: 90%;
  }
  
  .list .close {
    font-weight: 800;
    position: absolute;
    left: 75%;
  }
  